.container {
  background-color: #253342;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 2);
  margin: auto;
  color: #ffff;
  margin-top: 20px;
}

.container-cotizaciones {
  display: flex;
}

.calidad-img {
  width: 100%;
}

.container-aire {
  display: flex;
  padding: 10px;
}

.container-nubes {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  display: block;
}

.container-calidad {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
  display: block;
}

.submit-form {
  margin: auto;
  width: 100vh;
}

.form-group {
  margin: 10px 20px;
  color: #ffff;
}

.form {
  text-align: center;
  width: 100%;
}

.input-forms {
  display: flex;
  width: 100vh;
}

.btn-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-save {
  margin: 10px;
}

.msgSuccess {
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*parte derecha*/
.cotizacion-container {
  background-color: #3e5954;
  position: relative;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  display: block;
  width: 80%;

}

.precio-container {
  color: #000000;
  text-align: center;
  padding: 10px;
}

.agent-container {
  background-color: #253342;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
  align-items: flex-end;
}

.agent-container a {
  color: #ffffff;
}
