<app-carrusel></app-carrusel>
<div class="container">
    <div class="half">
        <img src="https://source.unsplash.com/random/800x400?architecture" alt="Home screen Image" class="img-fluid">
    </div>
    <div class="half">
        <h1>¿Quiénes somos?</h1>
        <p>Somos una agencia que se encarga de proporcionar al cliente las mejores opciones para la compra o venta de
            propiedades, teniendo la tecnología de nuestro lado para que puedas acceder totalmente gratis a una
            cotización de una propiedad en alguna localidad de México.</p>
    </div>
</div>