<div class="container">
    <div class="text-center">
      <div *ngIf="!submitted">
        <form [formGroup]="signupForm" class="submit-form" (ngSubmit)="onSubmit($event)">
          <img src="https://icon-library.com/images/sign-up-icon-png/sign-up-icon-png-21.jpg" alt="login_icon" class="img">
          <h1 class="title">Registrarse</h1>
          <div class="form-group" >
            <label for="usuario">Ingrese un nuevo usuario</label>
            <input type="text" id="usuario" [(ngModel)]="User.usuario" formControlName="usuario" placeholder="Crear usuario"
              class="form-control" required>
          </div>
          <div class="form-group">
            <label for="newPassword">Ingrese una nueva contraseña</label>
            <input type="password" id="newPassword" [(ngModel)]="User.contrasena" formControlName="newPassword"
              placeholder="Nueva contraseña" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="confirmNewPassword">Confirme su nueva contraseña</label>
            <input type="password" id="confirmNewPassword" [(ngModel)]="User.confirmNewPassword" formControlName="confirmNewPassword"
              placeholder="Confirmar contraseña" class="form-control" required>
          </div>
          <!--Mensaje si las contraseñas no coinciden-->
          <div *ngIf="!passwordsMatch" class="error-message">
            Las contraseñas no coinciden. Por favor, inténtalo de nuevo.
          </div>
  
          <!-- Mensaje si el usuario ya existe -->
          <div *ngIf="userExists" class="error-message">
            El usuario ya existe. Por favor, elige otro nombre de usuario.
          </div>

          <!--Mensaje si el ugitsario está vacio-->
          <div *ngIf="userEmpty" class="error-message">
            Debe ingresar un nombre de usuario.
          </div>

          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
  
      <div *ngIf="submitted" class="msgSuccess">
        <h4>Te has Registrado con Éxito</h4>
        <button class="btn btn-success" (click)="newUsuario()">Nuevo registro</button>
      </div>
    </div>
  </div>
  