<div class="container">
    <div class="text-center">
        <form class="submit-form" action="submit">
            <h1 class="title">Nuevo Super Usuario</h1>
            <div class="form-group">
                <label for="newUser">Ingrese un nuevo super usuario</label>
                <input type="text" id="newUser" name="newUser" placeholder="Crear usuario" class="form-control">
            </div>
            <div class="form-group">
                <label for="newPassword">Ingrese una nueva contraseña</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Nueva contraseña" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirme su nueva contraseña</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirmar contraseña" class="form-control">
            </div>
            <div class="btnSignin">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</div>