/*Estilo para el contenedor*/
.container {
  padding: 0;
  max-width: 100%;
  background-color: #5e9188;
  max-height: 100%;
}

a {
  
  color: #ffffff;
}

/*Estilos para la barra de menu*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo img {
  width: 70px;
  height: 70px;
}

/* Estilos para el título a la izquierda */
.navbar-brand {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bold;
}

/* Estilos para los elementos de la lista en el centro */
.navbar-nav {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin-right: 50px;
  /* Espacio entre elementos de la lista */
}

.nav-link {
  color: #ffffff;
}

/* Estilos para los botones de Sign In y Log In */
.btn {
  border-color: #ffffff;
  background-color: #253342;
  margin: 10px;
}

.btnLogout {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  border-radius: 50%;
  background-color: #253342;
  border-color: #ffffff;
  color: #fff;
}

.loginConfirmation {
  color: #ffffff;
}

footer {
  background-color: #232226;
  padding: 16px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info {
  color: #ffffff;
}

.footer-vertical-line {
  border-left: 1px solid #ffffff;
  height: 60px;
  margin: 0 40px;
}

.icon-facebook,
.icon-instagram {
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
  margin-top: 0.62rem;
  margin-right: 1.8rem;
}