<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand text-danger">INMOBYAPP </a>
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a routerLink="home" class="nav-link text-danger">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="propiedades" class="nav-link text-danger">Propiedades</a>
    </li>
    <li class="nav-item">
      <a routerLink="cotizaciones" class="nav-link text-danger">Cotiza</a>
    </li>
  </ul>
  <button class="btn btn-danger">Sign In</button>
  <button class="btn btn-danger">Log In</button>
</nav>

  <router-outlet></router-outlet>

  <!--<div class="container mt-3">
    <h3 class="text-danger">{{ title }}</h3>
    <img src="https://source.unsplash.com/random/800x400?technology" alt="Componentes de computadora" class="img-fluid">
  </div>-->
