<div class="container">
    <div class="text-center">
        <form class="submit-form" action="submit">
            <img src="../../images/login_icon.png" alt="login_icon">
            <h1 class="title">Iniciar Sesión</h1>
            <div class="form-group">
                <label for="user">Ingrese su Usuario</label>
                <input type="text" id="user" name="user" placeholder="Usuario" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Ingrese su contraseña</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="btnLogin">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>
