.container {
    background-color: #253342;
    color: #ffffff;
    padding: 50px;
    max-width: 50%;
    border-radius: 30px;
    margin-top: 20px;
}

.img {
    width: 100px;
    height: 100px;
}

.title {
    margin: 10px;
}

.error-message {
    margin: 10px;
    color: red;
}