.container {
  background-color: #253342;
  display: flex;
  margin: auto;
  color: #ffff;
}

.submit-form {
  padding: 20px;
  margin-top: 20px;
  margin: auto;
}

.form-group {
  margin: 10px 20px;
  color: #ffff;
}

.btn-container {
  justify-content: center;
  align-items: center;
}

.btn-save {
  margin: 10px;
}

.msgSuccess {
  align-items: center;
  justify-content: center;
}

/*parte derecha*/
.cotizacion-container {
  background-color: #3e5954;
  position: relative;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.precio-container {
  color: #000000;
  text-align: center;
  padding: 10px;
}

.agent-container {
  background-color: #253342;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
  align-items: flex-end;
}

.agent-container a {
  color: #ffffff;
}



